@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body
{
    background-color: rgb(186, 214, 247);
    font-family: 'Work Sans', sans-serif;
}

input
{
    border-radius: 15px;
    border-color: black;
}

button
{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 90px;
}